.site-pages-member{

    .ems-page-default{
        position: relative;
    }
    /* Pages Right Right Layout Space*/
    .ems-member-page-right{
        padding-right: 120px;
    }
    /*Pages Title*/
    .page-top-title {
        display: block;
        padding-top: $small-12;
        padding-bottom: $small-12;
        margin-bottom: $small-10;
    }
    
    /*Pages Title Alternate*/
    .page-top-title-alternate {
        display: block;
        padding-top: $small-12;
        padding-bottom: $small-12;
        margin-bottom: $small-10;
    }

    div[id$="plhFavoriKayitYok1"],
    div[id$="plhSiparisYokLabel1"],
    span[id$="lbfKAYITYOK_FIYATHABERCI"]>.ems-message,
    span[id$="lbfKAYITYOK_STOKHABERCI"]>.ems-message,
    .ems-page-coupon-empty{
        
    }
}


/*
    Description : Page Mamber Grid Row Desktop
=====================================
*/
.site-pages-member{
    .ems-grid-default{
        border-radius: 5px;
        max-width: 790px;
       .ems-grid-header{
           display: none;
           @include space(padding, all, $small-6 $small-20);
           border-bottom:1px solid $color-6;
           > div{
               font-family: $regular;
               font-size: $small-12;
               color: $color-36;
           }
       }
       .ems-grid-header:first-child{
           @include grid;
       }
       .ems-grid-row{
           @include grid;
           align-items: center;
           @include space(padding, all, $small-5 $small-20);
           border-bottom:1px solid $color-6;
           min-height: 50px;
       }
       .ems-grid-row:last-child{
           border-bottom:none;
       }
   }    
}
 


.ems-member-page {

    .ems-form {
        margin-top: 20px;
        margin-left: 0;

        .ems-field {
            &.button {
                max-width: 240px;
                margin-right: auto;
                margin-left: 0;
            }
        }
    }
}


.ems-member-page-left {
    position: relative;
}