.ems-page-default-favorites {
    .select-cfg{
        @include grid;
        grid-template-areas:
        "AA . CC BB";
        grid-template-columns: minmax(0,190px) 1fr minmax(0,190px) minmax(0,190px);
        grid-gap: 15px;
        align-items: center;
    }
    .all-selected{grid-area:AA;}
    .add-selected{grid-area:BB;}
    .remove-selected{grid-area:CC;}
    .all-selected{
        a:hover{
            color: $color-8;
        }
    }
    .remove-selected{
        a:hover{
            border-color: $color-8;
        }
    }
}

.site-pages-member{
    .ems-grid-default-favorites {
        border: none;
        border-radius: 0;
        .ems-grid-header:first-child{display: none;}
        .ems-grid-row {
            grid-template-columns: 20px minmax(0, 70px) 1.5fr .5fr minmax(0, 80px) minmax(0, 120px) 40px;
            grid-gap: 10px;
            padding: 10px 0;
            grid-gap: 10px;
            min-height: inherit;
    
            .ems-grid-select {
                position: inherit;
                top: inherit;
                left: inherit;
                margin-top: 0;
            }
    
            .ems-grid-img {
                position: inherit;
                top: inherit;
                left: inherit;
                margin-top: inherit;
                width: inherit;
                height: inherit;
            }
    
            .ems-grid-name {
                a {
                    margin-right: $small-40;
                }
            }
            .ems-grid-remove {
                position: inherit;
                top: inherit;
                right: inherit;
            }
            &:last-child{
                border-bottom: 1px solid $color-6;
            }
        }
    }
}