.ems-page-default-password{
    padding: $reset;
    .ems-form-member{
        .ems-field{
            input{
                max-width: 330px;
            }
        }
    }
    a.btnSifreGuncelle{
        margin-top: $small-20;
        margin-left: 0;
        margin-right: 0;
    }
}