.ems-page-default-password{
    padding: $reset;
    .ems-form-member{
        .ems-field{
            input{
                max-width: 330px;
            }
        }
    }
    a.btnSifreGuncelle{
        margin-top: $small-20;
        margin-left: 0;
        margin-right: 0;
    }
}

/*Password Forget*/
.pageSifremiUnuttum{
    padding: $reset;
}
.pageHeaderSifremiUnuttum{
    display: block;
    padding-bottom: $reset;
}
.tableSifremiUnuttum{
    max-width: 330px;
    .btnUyeSifreGonder{
        max-width: 220px;
        margin-left: 0;
        margin-right: 0;
    }
}