.ems-page-default-password{
    padding: $small-40 $small-20 $small-20 $small-20;
    .pageDescDefault {display: none;}
    a.btnSifreGuncelle{
        display: block;
        max-width: 220px;
        margin-top: $small-30;
        margin-left: auto;
        margin-right: auto;
    }
}