/* Description : Page Mamber Hidden Objects
 ===================================== */

 .kutuBosluk{display: none;}

 .site-pages-member{
    .page-top-desc{
        display: none;
    }
    .page-top-title{
        display: none;
    }
    span[id$="lbfURN_KDVDAHIL"],
    span.pb1 {
        display: none;
    }

    /*Member Pages Empty Message reset div*/
    div[id$="plhFavoriKayitYok"],
    div[id$="plhSiparisYokLabel"],
    span[id$="lbfKAYITYOK_FIYATHABERCI"]>.ems-message,
    span[id$="lbfKAYITYOK_STOKHABERCI"]>.ems-message,
    .ems-page-coupon-empty{
        background: none; 
        border-radius: 0;
        border:none;
        font-family: $bold;
        font-size: $small-24;
        color: $color-25;
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: left;
    }

    /*Member Pages Message*/
    .ems-page-favorites-empty,
    .ems-page-order-empty,
    .ems-page-coupon-empty{
        display: none;
        .img{
            display: inline-block;
            vertical-align: middle;
            margin-right: $small-30;
        }
        img{
            width: auto;
        }
    }

    .ems-page-default-favorites-empty{
        .ems-page-favorites-empty {
            display: block;
        }
    }

    .ems-page-default-member-order-empty {
        .ems-page-order-empty {
            display: block;
        }
    }
    .ems-page-default-coupon-empty{
        .ems-page-coupon-empty{
            display: block;
        }
    }

}

/*
    Description : Page Mamber Grid Row Default
=====================================
*/
 .site-pages-member{
    .ems-grid-default{
        border: 1px solid $color-6;
        border-radius: 3px;
        .ems-grid-header{
            display: none;
        }
        .ems-grid-row{
            > div{
                font-size: $small-14;
                color: black;
            }
        }
    }
 }

.ems-member-page {

    .urunPaging {
        table>tbody>tr>td {
            width: auto;

            &:nth-child(1),
            &:nth-child(3) {
                display: none;
            }
        }

        .urunPaging_pageNavigation a.firstPage,
        .urunPaging_pageNavigation a.lastPage {
            display: none !important;
        }

        .urunPaging_pageNavigation [id$="lblPaging"] {
            margin-top: 20px;

            &:empty {
                display: none;
            }
        }

        .tumunuGoster {
            display: none !important;
        }
    }

    .sStylerWrp_checkbox {
        cursor: pointer;
    }

    input.sCheckbox {
        display: none !important;
    }

    .ems-form {
        max-width: 312px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;

        .ems-form-obj {
            position: relative;
            &:empty{display: none !important;}
            &.obj-check {
                >span:last-child {
                    line-height: 1.33;
                }
            }
        }

        .ems-field {
            &.adresTip {
                display: none;
            }

            &.button {
                margin-top: 30px;

                .btnDefault {
                    display: block;
                    text-align: center;
                    background: #000000;
                    border-radius: 5px;
                    padding: 12px 5px;

                    span {
                        color: #ffffff;
                    }
                }
            }

            &.password {
                .password-change-btn {
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;

                    i {
                        line-height: 30px;
                    }

                    i,
                    i:before {
                        font-size: 15px;
                        color: $dustyGray;
                    }
                }
            }

            &.ems-readonly {
                .ems-form-obj {
                    &:before {
                        content: "";
                        display: block;
                        z-index: 2;
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                    }
                }
            }

            &.date {
                .ems-form-obj {
                    &:after {
                        font-family: 'icomoon';
                        content: '\e911';
                        position: absolute;
                        top: 7px;
                        right: 7px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        font-size: 16px;
                        color: $gray;
                    }
                }

                .datepick {
                    padding-right: 45px;
                }
            }

            .cepTelAlan {
                width: 52px !important;
            }

            .cepTelNo {
                width: calc(100% - 65px) !important;
                margin-left: 10px;
            }

            textarea {
                height: 75px;
            }

        }

        .ems-field.ems-field-full.button {
            max-width: 100%;
            >div {
                &:last-child {
                    .btnAdresIptal{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}