// Name:            Footer General
// Description:     
//
// ========================================================================


// Scroll Top Button
// ========================================================================
.scroll-top-btn{
    width: 100%;
    border-radius: 0;
    font-size: 9px;
    line-height: 22px;
}
.site-footer{
    &-copyright{
        margin-top: 60px;
        > div{
            width: 50%;
            display: inline-block;
            vertical-align: middle;
            
            &:first-child{
                text-align: left;
            }
            &:last-child{
                text-align: right;
                color: $very-dark-g;
                font-size: $small-16;
            }
        }
    }
}

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .site-footer{
            border-top: 2px solid $very-light-gray;
            margin-top: 60px;
            padding-top: 60px;
            &-wrap{
                padding-bottom: 80px;
            }
            &-inner{
                @include grid;
                grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
                padding-left: 10px;
                padding-right: 10px;
                grid-template-rows: minmax(0, auto);
                grid-template-areas:
                ". A ."
                ". B ."
                ". C ."
                ". N .";
            }
            .grid-row-a{
                grid-area: A;
            }
            .grid-row-b{
                grid-area: B;
            }
            .grid-row-c{
                grid-area: C;
            }
            .grid-row-none{
                grid-area: N;
            }
            &-copyright{
                margin-top: 80px;
            }
        }
    }
}