.ems-page-default-order-success{
    padding-left: $small-30;
    padding-right: $small-30;
    padding-bottom: $small-30;
}
.pageSiparisSonuc_lbfSiparisKaydedilmedi{
    > span{
        display: block;
    }
}

.pageDescSiparisSonucErr{
    br{display: none;}
}

.ems-page-success-cover{
    width: 100%;
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;
}

.pageSiparisSonuc_lbfSiparisKaydedilmedi{
    .ems-page-success-cover{
        max-width: 407px;
    }
}

.ems-page-success-logo{
    a{
        display: block;
        text-align: center;
        padding: $small-30 $small-20;
        img{max-width: 100px;}
    }
}
.ems-page-success-text{
    text-align: center;
    margin-top: $small-15;
    p{
        font-size: $small-13;
        line-height: 22px;
        strong{
            font-weight: normal;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}

.ems-page-success-back-buttons{
    a.btnDefault {
        width: 100%;
        max-width: 240px;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    a.btnOdemeBilgiDon{
        margin-top: $small-20;
    }
}

a.btnSiparisSonucSepeteDon{
    background: none;
    border-color: $color-6;
    color: $color-1;
}