.ems-grid-default-cart{
    border-top: none;
    .ems-grid-row {
        @include grid;
        grid-template-columns:70px 1fr minmax(0,100px) 1fr .5fr 30px;
        grid-template-rows: minmax(0, auto);
        align-items: center;
        grid-gap: 10px;
        @include space(padding, all, $small-10);
    }

    .ems-grid-img {
        position: relative;
        top: inherit;
        left: inherit;
        width: inherit;
        height: inherit;
        margin-top: inherit;
    }
    .ems-grid-piece-wrapper {
        margin-top: $reset;
    }
    .ems-grid-price-total {
        width: auto;
        margin-top: $reset;
    }
    .price-unit{
        align-self: baseline;
    }
    .ems-grid-subscriptions {
        margin-top: $reset;
        &:empty{
            display: inherit;
        }
    }
    .basket-prc-wrp{
        margin-right: $reset;
    }
    .ems-grid-price-total{
        @include grid;
        grid-template-columns: 35px 1fr 1fr;
        align-items: center;
    }

    .ems-grid-delete{
        position: relative;
        top: inherit;
        right: inherit;
    }
}

.page-card-title{
    @include space(padding, top, $reset);
    @include space(padding, left, $reset);
}