.ems-grid-default {

    .ems-grid-header,
    .sStylerWrp_select {
        display: none;
    }
}

.page-card-title{
    @include space(padding, top, $small-20);
    @include space(padding, left, $small-20);
}
.ems-grid-default-cart {
    border-top: 1px solid $color-6;
    .ems-grid-row {
        position: relative;
        @include space(padding, all, $small-15 $small-30 $small-15 100px);
        border-bottom: 1px solid $color-6;
    }

    .ems-grid-img {
        position: absolute;
        top: 50%;
        left: 20px;
        width: 70px;
        height: 70px;
        margin-top: -35px;
    }

    .ems-grid-piece-wrapper {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        >span {
            &:empty {
                display: none;
            }
        }

        input {
            border-width: 1px !important;
            width: 55px !important;
            padding: 2px 10px !important;
            text-align: left;
        }
    }

    .brutFiyat,
    .netFiyat,
    .topFiyat{
        &:before {
            content: '₺';
            @include space(margin, right, -4px);
        }
    }

    .brutFiyat, .topFiyat {
        font-size: $small-12;
        text-decoration: line-through;
    }
    .brutFiyat{display: none !important;}
    
    .netFiyat {
        font-size: $small-16;
        font-family: $bold;
    }

    .ems-grid-price-total {
        margin-top: $small-10;
        width: 50%;
        >div {
            display: inline-block;
            vertical-align: middle;
        }
        .dvSepetKazancOran {
            display: block;
            border-radius: 3px;
            background: $color-8;
            color: $white;
            font-size: $small-14;
            font-family: $bold;
            height: 40px;
            line-height: 40px;
            @include space(padding, all, 2px $xs);
            @include space(margin, right, $small);
            &:empty{display: none;}
        }
    }

    .ems-grid-name{
        br{display: none;}
        a{
            display: block;
            font-size: $small-15;
            margin-right: $small-10;
            > span{
                &:empty{display: none;}
            }   
        }
        .urnKisaAd{display: none;}

        .prom_ad{
            margin-right: $small-5;
        }
        .prom_ad,
        .prom_indtutar{
            margin-top: 1px;
            color: $color-18;
            display: inline-block;
            vertical-align: middle;
            &:empty{display: none;}
        }
        span{
            ul li{
                margin-top: $small-5;
            }
        }
    }

    .ems-grid-add-remove{
        position: absolute;
        top:10px;
        right: 10px;
        >a {
            width: 10px;
            height: 10px;
            text-align: center;
            display: block;
            margin-top: 2px;
            margin-bottom: 2px;
            i {
                line-height: 10px;
    
                &:before {
                    font-size: 8px;
                    color: $color-1;
                }
            }
        }
    }

    .ems-grid-subscriptions {
        float: right;
        margin-top: $small-10;
        text-align: center;
        &:empty{display: none;}
        .baslik {
            display: none;
        }

        .abonelikUrun {
            display: inline-block;
            border-radius: 3px;
            border: 1px solid $color-18;
            @include space(padding, all, $xs);

            * {
                color: $color-18;
                font-size: $small-12;
            }
        }
    }
    .ems-grid-delete {
        position: absolute;
        top: 10px;
        right: 10px;
        &:empty{display: none;}
        >a {
            width: 25px;
            height: 25px;
            text-align: center;
            display: inline-block;
        }

        i {
            line-height: 25px;

            &:before {
                font-size: 10px;
                color: $color-10;
            }
        }
    }
}

/*======================
Grid Row Stock Empty
======================*/
.gridSepetStok{
    display: none;
}