/*
 * Üye Giriş
 ========================================================================== */
.ems-logoff {
    .sub.login,
    [id$="lbfKUTU_HESABIM"]{ display: none !important; }
    
}
.ems-login {
    .sub.logoff,
    [id$="lbfkutuUyeGiris1"]{ display: none !important; }
}

.mod-mini-login{
    .sub{
        display: none;
    }
}

.mod-mini-login{
    &-header{
        > span{
            cursor: $cursor-pointer;
        }
        > span[id$="lbfKUTU_HESABIM"]{
            display: block;
        }
        > span[id$="lbfkutuUyeGiris1"]{
            display: block;
            &:empty{display: none;}
        }
    }
 }

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        
    }
}