// Static:       Header Layout
//
// ========================================================================
.site-header{
    background: $vivid-orange;
    width: 100%;    

    /*
    * header-> mini sepet ve mini login text düzenlemesi 
    ========================================================================== */
    .medium-small{
        font-family: $medium;
        font-size: $small-15;
        color: $white;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .xs-icons{
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: inline-block;
        vertical-align: middle;
        &:before{
            color: $white;
            font-size: $small-20;
        }
        &.icon-mini-bag:before{
            content:'\e918';
        }
    }
    .navbar-item-logo{
        @include space(padding, all, $xMedium $xs $xMedium $xs);
        img{height:30px;}
    }
    .navbar-item-mini-member{
        @include space(padding, all, $xMedium $xMedium $xMedium $xs);
    }
    .navbar-item.grid-box{
        text-align: right;
        > div{
            display: inline-block;
            vertical-align: middle;
            &:empty{display: none;}
        }
    }
    .navbar-item-hamburger,
    .mod-mini-cart {
        margin-left: 10px;
    }
}

/*
 * Hamburger Menu
 ========================================================================== */


/*
 * Login Menu
 ========================================================================== */
 .mod-mini-login{
    .medium-small {
        text-overflow: ellipsis;
        max-width: 130px;
        overflow: hidden;
        white-space: nowrap;
    }
}

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .site-header {
            .navbar-holder {
                grid-template-columns:1fr minmax(auto, 170px) minmax(auto,720px) minmax(auto, 320px) 1fr;
                grid-template-rows: minmax(0,auto);
                grid-template-areas:
                ". LGO SCH MMB .";
                align-items: center;
                height: 100%;
                padding: 10px;
            }

            .navbar-item-logo {
                grid-area: LGO;
            }

            .navbar-item-mini-member {
                grid-area: MMB;
            }

            .navbar-item-search {
                grid-area: SCH;
            }
            .navbar-item {
                grid-template-columns: 1fr auto;
                justify-items: right;
                align-items: center;
            }
            .navbar-item.grid-box{
                text-align: inherit;
                > div{
                    display: inherit;
                    vertical-align: inherit;
                }
            }
            .navbar-item-logo,
            .navbar-item-mini-member{
                @include space(padding, all, $reset);
                img{
                    height:40px;
                }
            }
            .mod-mini-cart {
                margin-left: 30px;
            }
            .xs-icons{
                &.icon-mini-bag:before{
                    content:'\e91b';
                }
            }
        }
    }
}