.searchSuggestDivHolder{
    grid-template-columns: 2fr 1fr;
    .sHolder table {
        tr{
            border-bottom: 1px solid $pinkish-grey;
            @include space(padding, top, $xMedium);
            @include space(padding, right, $large);
            @include space(padding, left, 70px);
            @include space(padding, bottom, $xMedium);
            position: relative;
            display: block;
            min-height: 100px;
            th{
                position: absolute;
                top: 50%;
                margin-top: -25px;
                left: 10px;
            }
            td{
                .suggest_urnprice{
                    font-family: $bold;
                    font-size: $small-16;
                }
                .suggest_urnnormalprice{
                    font-size: $small-12;
                    text-decoration: line-through;
                }
                .suggest_urnprice,
                .suggest_urnnormalprice{
                    display: inline-block;
                    
                    &:before{
                        content:'₺';
                    }
                    &:empty{display: none;}
                }
                .suggest_urnsubscriptionprice {
                    display: inline-block;
                    @include space(padding, all, $small-5);
                    border-radius: 3px;
                    border: 1px solid $color-18;
                    @include Position(absolute, bottom 15px right 20px);
                    &:empty{display: none;}
                    > span{
                        display: block;
                        color: $color-18;
                        &:first-child{
                            font-size: $small-12;
                        }
                        &:last-child{
                            font-family: $bold;
                            font-size: 16px;
                            &:before{
                                content:'₺';
                            }
                        }
                    }
                }
                span.suggest_urndiscountrate.emos_invisible{
                    display: block;
                    span{
                        display: block;
                        background: $color-8;
                        border-radius: 3px;
                        color: $white;
                        text-align: left;
                        width: 24px;
                        padding: 3px;
                        font-family: $bold;
                        font-size: $small-14;
                        margin-right: $small-10;
                        &:before{
                            content:'%';
                            display: block;
                        }
                        &:empty{
                            display: none;
                        }    
                    }
                    &:empty{
                        display: none;
                    }
                }
                &:empty{display: none;}
            }
            td:nth-child(2){
                display: block;
                span{
                    font-size: $small-14;
                    display: block;
                    padding-left: $reset;
                    padding-right: $small-5;
                    min-height: 37px;
                    max-height: 37px;
                    overflow: hidden;
                    b{display: none;}
                }
                span b{font-weight: normal;}
            }
            td:nth-child(3),
            td:nth-child(6),
            td:nth-child(8){display: none;}

            td:nth-child(5),
            td:nth-child(7){
                display: block;
                width: 85%;
            }
            td:nth-child(4){
                float: left;
                width: 35px;
            }
        }
    }
    .suggest_link,
    .suggest_link_over{
        img{max-width: 50px;}
    }
    .dvTumunuGoster .btnArama{margin-top: $reset;}
}