.mod-mini-search {
    @include space(padding, top, 12px);
    @include space(padding, bottom, 12px);

    &-body {
        position: relative;
        height: inherit;
        overflow: visible;
        background: inherit;
        z-index: 20;
        left: 0;
        right: 0;
        top: 0;
        max-width: 940px;
        @include space(margin, left, auto);
        @include space(margin, right, auto);
        display: block;

        .ems-search-header {
            background: none;
        }
    }

    .ems-form-inner {
        width: inherit;
        @include space(padding, left, $reset);
    }

    .ems-field {
        @include space(padding, all, $reset);

        input {
            border: none;
        }
    }

    .ems-field.submit {
        top: 7px;
        right: 10px;
        .btnArama{
            &:hover{
                background: none;
            }
        }
    }
    
    .ems-search-body {
        border-top: 2px solid $color-6;
        top: 42px;
        @include space(padding, all, $xxlarge $large);
        border-radius: 0 0 3px 3px;
    }
}

.ems-page-home {
    .mod-mini-search-header {
        display: none;
    }
}

.searchSuggestDiv {
    top: 42px;
    border-radius: 0 0 3px 3px;
    position: absolute !important;
    height: auto;
    overflow-y: inherit;
}

.searchSuggestDivHolder {
    @include grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
        "PRD CAT"
        "PRD BRN"
        "BTN .";
    grid-template-rows: minmax(0,auto);
    background: $very-light-gray;
    overflow-x:inherit;
    overflow-y: inherit;

    /*Webkit scrolling*/
    ::-webkit-scrollbar {
        width: 2px;
    }
    ::-webkit-scrollbar-track {
        background: $pinkish-grey;
    }
    ::-webkit-scrollbar-thumb {
        background: $very-dark-gray;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: $very-dark-gray;
    }

    h3 {
        font-family: $regular;
        font-size: $small-15;
        color: $black;
        @include space(margin, bottom, $xs);
        @include space(padding, all, $reset);
        background: none;
    }

    .prd,
    .cat,
    .brand {
        @include space(padding, all, $xxlarge);
    }

    .prd,
    .dvTumunuGoster {
        background: $white;
    }

    .cat,
    .wordSearch {
        .suggest_link {
            >a {
                @include transition(all .2s ease);

                &:hover {
                    color: $color-8;
                }
            }
        }
    }

    .prd {
        grid-area: PRD;
        border-top: 2px solid $pinkish-grey;
        max-height: 331px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 50px;
    }

    .cat {
        grid-area: CAT;
    }
    .dvTumunuGoster {
        grid-area: BTN;
    }
    .brand {
        grid-area: BRN;
        padding-top: 0;
        .spnBrand{
            a{
                display: inline-block;
                font-size: $small-13;
                color: $very-dark-g;
                @include space(padding, all, $xSmall $reset);
                @include transition(all .2s ease);
                border-top: none;
                &:hover {
                    color: $color-8;
                }
            }
        }
    }

    .wordSearch {
        display: none;
    }

    .sHolder {
        .suggest_link {
            >a {
                display: inline-block;
                font-size: $small-13;
                color: $very-dark-g;
                @include space(padding, all, $xSmall $reset);
                border-top: none;
            }
        }
    }

    .sHolder table tr {
        @include space(padding, top, $small);
        @include space(padding, left, $reset);
        @include space(padding, right, $reset);
        @include space(padding, bottom, $small);
        min-height: auto;
        @include grid;
        grid-template-columns: 80px 2fr minmax(0,30px) minmax(auto,120px) 1fr;
        grid-template-areas:
        "THI TD2 TD7 TD6 TD8"
        "THI TD2 TD7 TD4 TD8";
        align-items: center;
        border-bottom-width:2px; 

        td:nth-child(2) {
            display: inherit;
            span {
                @include space(margin, bottom, $reset);
                min-height: inherit;
                max-height: inherit;
                overflow: visible;
                padding-left: $small-10;
                padding-right: $small-15;
            }
        }
        td{
            width: auto;
            .suggest_urnsubscriptionprice{
                position: relative;
                bottom: inherit;
                right: inherit;
            }
        }
    }

    .sHolder table tr th {
        grid-area: THI;
        left: 0;
        position: static;
        top: 0;
        left: 0;
        margin-top: 0;
    }

    .sHolder table tr td:nth-child(2) {
        grid-area: TD2;
    }

    .sHolder table tr td:nth-child(4) {
        grid-area: TD4;
        align-self: flex-start;
    }
    .sHolder table tr td:nth-child(6) {
        grid-area: TD6;
        align-self: flex-end;
    }
    .sHolder table tr td:nth-child(7) {
        grid-area: TD7;
        align-self: center;
    }
    .sHolder table tr td:nth-child(8) {
        grid-area: TD8;
    }

    .dvTumunuGoster {
        display: block !important;
        @include space(padding, bottom, $xxlarge);
        .btnArama{
            @include space(padding, all, 12px $xs);
            @include space(margin, top, $xxlarge);
            border:2px solid $color-6;
            &:hover{
                border-color: $color-8;
            }
        }
    }
}

/* Body search keyup animation
=================================== */
body {
    &.search-focused {
        .mod-mini-search {
            &-body{
                width: 50%;
                @include Position(absolute, top 12px);
            }
            .ems-search-body{display: block;}
        }

        .vailSearch {
            opacity: 1;
            visibility: visible;
        }
    }
    &.search-ready {
        @include mobi-body-reset;
    }
}