//
// Component:       Product List Footer
//
// ========================================================================
.urunListePagingAlt{
    > table,
    #page-nav{display: none;}
}
.icerikBlogListe_dahaFazla{
    @include space(padding, top, 40px);
    > table{
        display: table !important;
        width: 100%;
        max-width: 230px;
        @include space(margin, left, auto);
        @include space(margin, right, auto);
    }
    .btnDahaFazla{
        display: block;
        @extend .btn-primary-light;
    }
}


/*
 * Desktop
 *  
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

    }
}