// Component:       Product List Header
// ========================================================================

.navigasyon {
    background: $very-light-gray;
    > span{
        &:first-child{
            display: block;
            @include space(padding, all, $xMedium $large);
            &:empty{display: none;}
        }
        > a{
            display: none;
            font-size: $small-13;
            color: $very-dark-g;
            &.navigasyonSeviye1,
            &.navigasyonSeviye2{display: inline-block;}
            &.navigasyonSeviye2{
                &:before{
                    content:'/';
                    font-size: $small-13;
                    color: $very-dark-g;
                }
            }
        }
    }
    span[id$="lblNAVIGATION_SEPERATOR"]{display: none;}
}

.pnlUrunKiyasSecim{
    .urunKiyaslamaOzellik_secimbaslik{display: none;}
    .urunKiyaslamaOzellik_secimler{
        a{
            display: inline-block;
            vertical-align: middle;
            border-radius: 15px;
            border:1px solid $pinkish-grey;
        }
    }
}

.grid-colmn {
    &-mobile-filter{
        @include Position(relative, null);
        .btn-filter{
            @include Position(absolute, top 50% right $xMedium);
            @include setTransform(translateY(-50%));
            font-size: $small-13;
            color: $very-dark-g;
            text-decoration: underline;
            @include space(padding, all, $xs);
        }
    }
}

/* Desktop
 *  
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) { }
}