/* Component:  Product Cart
=================================== */

.grid-colmn-filter .dropdown {
    >span {
        display: block;
        font-size: $small-15;
        @include space(padding, all, 16px 15px);
        @include Position(relative, null);
        background: none;
        border: none;
        border-radius: 0;

        &:after {
            font-family: 'icomoon';
            content: '\e902';
            @include Position(absolute, top 15px right 15px);
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 21px;
            background: $very-dark-gray;
            color: $white;
            border-radius: 100%;
            font-size: 8px;
            font-weight: normal;
            display: block;
        }
    }
    ul{
        position: relative;
        top: inherit;
        left: inherit;
        @include space(padding, all, 10px 15px 10px 15px);
        li{
            a{
                display: block;
                font-size: $small-15;
                color: $very-dark-g;
                @include space(padding, all, 9px 15px 9px 30px);
                @include Position(relative, null);
                &:before{
                    content:'';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -9px;
                    width: 17px;
                    height: 17px;
                    line-height: 18px;
                    text-align: center;
                    border-radius: 3px;
                    border: 1px solid #252424;
                }
            }
            &.selected{
                a{
                    &:before{
                        font-family:'icomoon';
                        content:'\e90b';
                        border-radius: 3px;
                        background: $vivid-orange;
                        border:none;
                        color: $white;
                        font-size: $small-10;
                    }
                }
            }
        }
    }
    &.opened{
        > span{
            &:after{
                content: '\e905';
            }
        }
    }
}

.ems-prd {
    &-inner {
        position: relative;
        z-index: 1;
        @include space(padding, all, $small);
        @include transition(all .2s ease);
    }

    &-list-view{
        ul{
            @include table-row;
            text-align: right;
            @include space(padding, all, 9px 0);
            .uclu,
            .dortlu{
                @include column-double;
                width: auto;
                a{
                    display: block;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    i{
                        line-height: $small-32;
                        display: block;
                    }
                    i.icon-view-3:before{
                        font-size:$small-19;
                        color: $gray; 
                    }
                    i.icon-view-4:before{
                        font-size:$small-26;
                        color: #152b3c;
                    }
                }
            }
            .dortlu{
                @include space(margin, left, $large);
            }
        }   
    }
    
    &-mask {
        @include Position(relative, null);
    }
    &-types{
        color: $dark-lime-green;
        font-size: $small-15;
        padding-top: 10px;
        &:empty{display: none;}
    }
    &-image {
        max-width: 220px;
        @include space(padding, top, $small);
                @include space(padding, bottom, $large);
        @include space(margin, left, auto);
        @include space(margin, right, auto);
    }

    &-name {
        >a {
            font-size: $small-13;
            min-height: 38px;
            max-height: 38px;
            overflow: hidden;
        }
    }
    &-price{
        display: table;
        width: 100%;
        @include space(margin, top, $xSmall);
        > div{
            min-width: 50%;
            display: table-cell;
            vertical-align: middle;
        }
    }
    &-price-left{
        > div{
            @include column-double;
            width: auto;
            &:empty{display: none;}
        }   
    }
    &-content-mask{
        min-height: 100px;
        max-height: 100px;
    }
    &-price-subscriber{
        border: 1px solid $color-14;
        border-radius: 3px;
        &:empty{display: none;}
    }
    .urunListe_brutFiyat,
    .urunListe_satisFiyat,
    .urunListe_aboneFiyat.emos_invisible{
        &:before{
            content:'₺';
            margin-right: -3px;
        }
        &:empty{display: none;}
    }
    .urunListe_brutFiyat{
        font-family: $regular;
        font-size: 11px;
        text-decoration: line-through;
    }
    .urunListe_satisFiyat{
        font-family: $bold;
        font-size: $small-14;
    }
    .urunListe_aboneFiyat.emos_invisible{
        display: block !important;
        font-size: $small-18;
        font-family: $bold;
        color: $color-14;
        @include space(padding, all, 3%);
    }
    .urunListe_pnlIndirimOran{
        display: block !important;
        > span{
            display: block;
            background: $vivid-pink;
            color: $white;
            border-radius: $alternate-border-radius;
            padding: 4px 6px;
            font-family: $bold;
            font-size: $small-12;
            text-align: left;
            @include space(margin, right, $xs);
            &:empty{display: none;}
        }
    }
    .urunListe_yeniUrun {
        display: inline-block !important;
        @include Position(absolute, top 0 left 0);
        z-index: 1;

        >span {
            display: block;
            background: $color-15;
            @include space(padding, all, $xs);
            font-size: $small-13;
            letter-spacing: 0.5px;

            &:empty {
                display: none;
            }
        }
    }
    &-promo{
        &:empty {
            display: none;
        }
    }
    .promosyonBilgi {
        &:empty {
            display: none;
        }
        span.promo {
            display: block;
            color: $dark-lime-green;
            font-size: $small-15;
            padding-top: 8px;
            max-height: 26px;
            overflow: hidden;
        }
        img{display: none;}
    }
    .urunListe_sepetGrup {
        width: 100%;
        display: table;
        table-layout: fixed;
        
        >div {
            display: table-cell;
            vertical-align: middle;
        }

        .btnSepeteAt {
            display: block;
            border-radius: 0 3px 3px 0;
        }
    }

    .urunListe_urunAboneOl {
        > table{
            display: table !important;
            width: 100%;
            .btnDefault {
                @include space(margin, left, $small);
                display: block;
            }
        }
    }
    .urunListe_sepet {

        >table {
            display: table !important;
            width: 100%;
        }
    }

    .urunListe_adet {
        max-width: 90px;
        position: relative;
        input {
            background: $white;
            border-color: $vivid-orange;
            border-radius: 3px 0 0 3px;
        }

        span[id$="lblURN_ADET"] {
            display: none;
        }
    }
}

/*Product Cart single Product List Page Settings*/
.ems-prd-list{
    .ems-prd {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        border-bottom: 1px solid $pinkish-grey;
        &:nth-child(odd){
            border-right: 1px solid $pinkish-grey;
        }
        &:nth-child(even){
            border-left: 1px solid $pinkish-grey;
        }
    }
}


/* Media Query
=================================== */

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

        .grid-colmn-filter .dropdown {
            min-width: 235px;

            >span {
                &:before {
                    content: '';
                    @include Position(absolute, top 9px right 0);
                    width: 1px;
                    height: 32px;
                    background: #d5d6dc;
                }
            }
            ul{
                @include Position(absolute, top 50px left 0);
                background: $white;
            }
            &.opened {
                >span {
                    background: $white;

                    &:before {
                        display: none;
                    }
                }
            }
        }

        .ems-prd-list {
            .emosInfinite {
                @include grid;
                grid-template-columns:repeat(3, 1fr);
                grid-gap: $large;
            }
        }

        .ems-prd {
            &-inner{
                overflow: hidden;
                position: relative;
                background: $white;
                border-radius: 3px;
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0);
            }
            &-name {
                >a {
                    font-size: $small-15;
                }
            }
            &-image {
                @include space(padding, top, $xlarge);
                @include space(padding, bottom, $xxlarge);
            }
            &-content-mask{
                min-height: 137px;
                max-height: 137px;
                position: relative;
                overflow: hidden;
            }
            &-list-cart-add{
                @include Position(absolute, bottom -45px left 0);
                width: 100%;
                height: auto;
            }
            .urunListe_pnlIndirimOran{
                > span{
                    @include space(margin, right, $small);
                    @include space(padding, left, $small);
                    @include space(padding, right, $small);
                    font-size: $small-18;
                }
            }
            .urunListe_brutFiyat{
                font-size: $small-16;                
            }
            .urunListe_satisFiyat{
                font-size: $small-18;
            }
        }
        .ems-prd-inner{
            overflow: hidden;
            margin-bottom: 0;
        }
        .ems-prd-inner,
        .ems-prd-content-mask{
            @include transition(all .2s ease);
            transition-delay: .1ms;
        }

        /*Product Cart Hover*/
        .ems-prd:hover{
            .ems-prd-inner{
                z-index: 2;
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.16);
            }
            .ems-prd-content-mask{
                margin-bottom: 45px;
                overflow: visible;
            }
        }
        .ems-prd:hover .ems-prd-inner{
            margin-bottom: -45px;
        }

        /*Product Cart single Product List Page Settings*/
        .ems-prd-list{
            .ems-prd {
                width: 100%;
                border-bottom: none;
                &:nth-child(odd){
                    border-right: none;
                }
                &:nth-child(even){
                    border-left: none;
                }
            }
        }
        /**/
        .dortlu{
            .ems-prd-list{
                .emosInfinite{
                    grid-template-columns:repeat(4, 1fr);
                }
            }
        }
    }
}