/* Color Palette
===================================*/

$carmine            : #A10014;
$light-peach        : #fcd5c4;
$light-grey         : #8E8E8E;
$greyish-brown      : #e8e5e0;
$pinkish-grey       : #E7E7E7;
$light-grey-two     : #e8e5e0;
$white-two          : #d8d8d8;
$charcoal-grey      : #2a2d37;
$vivid-yellow       : #F9D423;
$strong-blue        : #044291;
$very-light-gray    : #F5F5F5;
$bright-blue        : #2874f0;
$dark-violet        : #5A1EA5;
$dark-gray          : #9B9B9B;
$very-dark-gray     : #1F1F1F;
$very-dark-gray-two : #232323;
$dark-lime-green    : #00941E;
$vivid-orange       : #F36F3C;
$very-dark-g        : #5A5A5A;
$gray               : #BEBEBE;
$dustyGray          : #464646;
$doveGray           : #B8B8B8;
$vivid-pink         : #E20972;
$e9-Gray            : #E9E9E9;
$pink               : #f9deef;
$pink               : #f9deef;
$da-light-gray      : #DADADA;

$color-1            : #1F1F1F;
$color-2            : #FFFFFF;
$color-5            : #350060;
$color-6            : #E7E7E7;
$color-7            : #000000;
$color-8            : #F36F3C;
$color-10           : #9B9B9B;
$color-13           : #2874f0;
$color-14           : #5a1ea5;
$color-15           : #FFCDBD;

/* Silinecek */ 
$white : #fff;
$alto : red;
$frenchRose : red;
$black : black;
$wildSand:red;
$emperor: red;
$wildStrawberry:red;
$extraMenuBg: purple;
$outerSpace: red;
$softPeach: red;
$alabaster:red;
$dodgerBlue:blue;
$maroonFlush:red;
$facebook:blue;

/*Color Class Variables*/
.color-1{
    color: $color-1;
}
.color-2{
    color: $color-2;
}
.color-7{
    color: $color-7;
}
.color-10{
    color: $color-10;
}
.color-13{
    color: $color-13;
}
.color-14{
    color: $color-14;
}