//
// Color Palette
// ========================================================================

$carmine            : #A10014;
$light-peach        : #fcd5c4;
$light-grey         : #8E8E8E;
$greyish-brown      : #e8e5e0;
$pinkish-grey       : #e8e5e0;
$light-grey-two     : #e8e5e0;
$white-two          : #d8d8d8;
$charcoal-grey      : #2a2d37;
$vivid-yellow       : #F9D423;
$strong-blue        : #1659c7;
$very-light-gray    : #F5F5F5;
$bright-blue        : #2874f0;
$dark-violet        : #5A1EA5;
$dark-gray          : #9B9B9B;
$very-dark-gray     : #1F1F1F;
$very-dark-gray-two : #232323;
$dark-lime-green    : #00941E;
$vivid-orange       : #F36F3C;
$very-dark-g        : #5A5A5A;
$gray               : #BEBEBE;
$dustyGray          : #464646;
$doveGray           : #B8B8B8;

/* Silinecek */ 
$alto : red;
$white : #fff;
$frenchRose : red;
$black : black;
$wildSand:red;
$emperor: red;
$wildStrawberry:red;
$extraMenuBg: purple;
$outerSpace: red;
$softPeach: red;
$alabaster:red;
$dodgerBlue:blue;
$maroonFlush:red;
$facebook:blue;