/*
 * Language Before Field
 ========================================================================== */

/* Turkish */
span[id$="lbfKUTU_URUN"] {
    display: none;
}

.tr-TR {
    //$lbf_EkleBtn            : "Ekle" !global;

    //$Bundle Urun
    .tableBagliUrun .sStylerWrp_checkbox .cStyler:before{content:'Ekle';}
    .tableBagliUrun .sStylerWrp_checkbox .cStyler.checked:before{content:'Eklendi';}
}

/* English */
.en-US {
    //$lbf_EkleBtn            : "Ekle" !global;
}