// Name:            Homepage Banner
// Description:     
//
// ========================================================================
.grid-banner-box {
    a {
        display: block;
    }

    .dark-theme {
        .grid-banner-box-text {
            color: $very-dark-gray;
        }
    }

    .light-theme {
        .grid-banner-box-text {

            .title-1,
            .title-2 {
                color: $white;
            }
        }
    }
}

// Global Font theme
// ========================================================================
.fm-r {
    font-family: $regular;
}

.fm-m {
    font-family: $medium;
}

.fm-b {
    font-family: $bold;
}

.fs-13 {
    font-size: $small-13;
}

.fs-15 {
    font-size: $small-15;
}

.fs-18 {
    font-size: $small-18;
}

.fs-20 {
    font-size: $small-20;
}

.fs-22 {
    font-size: $small-22;
}

.fs-24 {
    font-size: $small-24;
}

.fs-38 {
    font-size: $small-38;
}

.b-el {
    display: block;
}

.ib-el {
    display: inline-block;
}

.grid-banner-box-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: left;
    width: 90%;

    .title-2 {
        margin-top: 10px;
    }
}
.grid-banner-box-text-alternate{
    top: 20px;
    left: 20px;
    bottom: inherit;
}

.btnBannerDefault {
    max-width: 170px;
    margin-top: 10px;
    @extend .btn-alternative;
}

// Media Query
// ========================================================================
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .grid-banner-box {
            @include grid;
            grid-column-gap: 33px;
            grid-row-gap: 32px;
            grid-template-areas:
                "ONE TWO"
                "ONE TRE";
            .mt-10{
                margin-top: 0; 
            }
            >div {
                .grid-banner-box-text {
                    bottom: 40px;
                    left: 40px;
                }
                &:nth-child(1) {
                    grid-area: ONE;
                }

                &:nth-child(2) {
                    grid-area: TWO;
                }

                &:nth-child(3) {
                    grid-area: TRE;
                }
            }

            &-triple {
                >div {

                    &:nth-child(2),
                    &:nth-child(3) {
                        .grid-banner-box-text {
                            bottom: 30px;
                            left: 30px;
                            height: calc(100% - 60px);
                            display: grid;
                            align-content: space-between;
                        }
                    }
                }
            }
            /*Tekli Banner*/
            &-single {
                grid-column-gap: 0;
                grid-row-gap: 0;
                grid-template-columns: 1fr;
                grid-template-areas:
                    "ONE";

                >div {
                    &:nth-child(1) {
                        .grid-banner-box-text {
                            left: inherit;
                            right: 60px;
                            width: 100%;
                            max-width: 300px;
                            bottom: inherit;
                            top: 50%;
                            @include setTransform(translateY(-50%));
                            height: auto;
                        }
                    }
                }
            }
            /*İkili Banner*/
            &-double {
                @include grid-columns(30px, 1fr 1fr);
                grid-template-areas:
                    "ONE TWO";
            }
            /*Uçlu*/
            &-column3{
                @include grid-columns(15px, 1fr 1fr 1fr);
                grid-template-areas: "ONE TWO TRE";
            }
            &-double-thn{
                @include grid-columns(15px, 1fr 1fr);
            }
            .hp-img {
                img {
                    height: 100%;
                    max-height: 500px;
                }
            }
        }

        .grid-banner-box-text {
            width: 45%;
        }

        .grid-banner-box-text-alternate{
            width: 71%;
            top: 30px;
            left: 30px;
            bottom: inherit;
        }

        .btnBannerDefault {
            margin-top: 30px;
        }
    }
}